.container{
  width: 500px;
  height: 10px;
  background-color: transparent;
  border-radius: 8px;
  margin-bottom: 10px;
}


.details{
  width: 500px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 300px;
  }

  .details{
    width: 300px;
  }
}

  .progress{
    height: 100%; // Preenche a altura do contêiner
    border-radius: 8px;
    background: linear-gradient(
      45deg,
      rgba(56, 33, 109, 0.6) 25%,
      rgb(183, 104, 235) 50%,
      rgba(56, 33, 109, 0.6) 75%
    );
    background-size: 200% 100%; // Amplia o fundo para a animação de movimento
    animation: wave 5s linear infinite; // Animação de movimento de onda
    position: relative;
    overflow: hidden; // Para conter o pseudo-elemento
  }


@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0; // Move o fundo ao longo do eixo X
  }
}
