<div class="container">
  <div class="body">
    <div style="display: flex; justify-content: center;">
      <div class="line"></div>
      <div style="display: flex;;">
        <h1 class="title-session1">ENVIE UMA</h1>
        <h1 class="title-session2">MENSAGEM</h1>
      </div>
      <div class="line"></div>
    </div>
    <br>
    <br>
    <div class="container-body">
      <div class="form">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field >
          <mat-label>Mensagem</mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-fab extended style="width: 140px; background-color: rgb(183, 104, 235); color: white;">
          <mat-icon>send</mat-icon>
          Enviar
        </button>
      </div>
      <div class="social">
        <p>Se você deseja entrar em contato, falar sobre a colaboração de um projeto, uma proposta, ou apenas dizer oi, adoraria ouvir sua opinião.
          Basta preencher o formulário e me enviar um e-mail.</p>

          <div style="display: flex;">
            <a href="https://www.linkedin.com/in/davi-azevedo-3a62361a5/">
              <button mat-fab style="background-color: rgb(183, 104, 235)">
                <img src="assets/linkedin2.png" alt="App Icon" width="40" height="40">
              </button>
            </a>
            <a href="https://github.com/daviaze">
              <button mat-fab style="margin-left: 10px; background-color: rgb(183, 104, 235)">
                <img src="assets/github2.png" alt="App Icon" width="40" height="40">
              </button>
            </a>
          </div>
      </div>
    </div>
  </div>
  <div style="position: absolute; right: 20px; bottom: 10px; ">
    <button (click)="scrollTo('intro')" mat-fab style="background-color: rgb(183, 104, 235, 0.2)">
              <mat-icon fontIcon="keyboard_double_arrow_up"></mat-icon>
            </button>
  </div>
</div>
