<div class="container" [@foobar]="state">
  <div class="body">
    <div style="display: flex; justify-content: center;">
      <div style="display: flex;;">
        <h1 class="title-session1">Contatos</h1>
      </div>
    </div>
    <br>
    <br>
    <div class="container-body">
      <form [formGroup]="contactForm" class="form" #formDir="ngForm" (ngSubmit)="sendEmail($event)">
        <mat-form-field>
          <mat-label for="name">Nome</mat-label>
          <input type="text" name="user_name" formControlName="name" matInput required>
            @if (contactForm.controls['name'].errors && (formDir.submitted || contactForm.controls["name"].touched)) {
              @if (contactForm.controls['name'].errors['required']) {
              <mat-error>
                Campo obrigatório.
              </mat-error>
              }
            }

        </mat-form-field>
        <mat-form-field>
          <mat-label for="email">Email</mat-label>
          <input  type="email" name="user_email" formControlName="email" matInput required>
          @if (contactForm.controls['email'].errors && (formDir.submitted || contactForm.controls["email"].touched)) {
            @if (contactForm.controls['email'].errors['required']) {
            <mat-error>
              Campo obrigatório.
            </mat-error>
            }
            @if (contactForm.controls['email'].errors['email']) {
              <mat-error>
                E-mail inválido.
              </mat-error>
              }
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label for="message">Mensagem</mat-label>
          <textarea matInput type="text" name="message" formControlName="message" matInput required></textarea>
          @if (contactForm.controls['message'].errors && (formDir.submitted || contactForm.controls["message"].touched)) {
            @if (contactForm.controls['message'].errors['required']) {
            <mat-error>
              Campo obrigatório.
            </mat-error>
            }
          }
        </mat-form-field>
        <button *ngIf="!(isLoading$ | async)"  type="submit" mat-fab extended style="width: 140px; background-color: rgb(183, 104, 235); color: white;">
          <mat-icon>send</mat-icon>
          Enviar
        </button>

        <button disabled="true" *ngIf="isLoading$ | async" mat-fab extended style="width: 140px; background-color: rgb(183, 104, 235); color: white;">
          <mat-spinner diameter="25"></mat-spinner>
        </button>
      </form>
      <div class="social">
        <p>Se você deseja entrar em contato, falar sobre a colaboração de um projeto, uma proposta, ou apenas dizer oi, adoraria ouvir sua opinião.
          Basta preencher o formulário e me enviar um e-mail. Segue abaixo as minhas redes sociais.</p>

          <div style="display: flex;">
            <a href="https://www.linkedin.com/in/davi-azevedo-3a62361a5/" target="_blank">
              <button mat-fab class="button-contact">
                <img src="assets/linkedin2.png" alt="App Icon" width="40" height="40">
              </button>
            </a>
            <a href="https://github.com/daviaze" target="_blank">
              <button mat-fab class="button-contact" style="margin-left: 10px;">
                <img src="assets/github2.png" alt="App Icon" width="40" height="40">
              </button>
            </a>
          </div>
      </div>
    </div>
  </div>
  <div style="position: absolute; right: 20px; bottom: 10px; ">
    <button (click)="scrollTo('intro')" mat-fab style="background-color: rgb(183, 104, 235, 0.2)">
      <mat-icon fontIcon="keyboard_double_arrow_up"></mat-icon>
    </button>
  </div>
</div>
