<div class="container">
  <div class="body">
    <div style="display: flex; justify-content: center;">
      <div class="line"></div>
      <div style="display: flex;">
        <h1 class="title-session1">SEND A</h1>
        <h1 class="title-session2">MESSAGE</h1>
      </div>
      <div class="line"></div>
    </div>
    <br>
    <br>
    <div style="display: flex; justify-content: space-between;">
      <div class="form">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field >
          <mat-label>Message</mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-fab extended style="width: 140px; background-color: rgb(183, 104, 235)">
          <mat-icon>send</mat-icon>
          Send
        </button>
      </div>
      <div class="social">
        <p>Whether you want to get in touch, talk about a project collaboration, or just say hi, I'd love to hear from you.
          Simply fill the from and send me an email.</p>

          <div style="display: flex;">
            <button mat-fab style="background-color: rgb(183, 104, 235)">
              <img src="assets/linkedin2.png" alt="App Icon" width="40" height="40">
            </button>
            <button mat-fab style="margin-left: 10px; background-color: rgb(183, 104, 235)">
              <img src="assets/github2.png" alt="App Icon" width="40" height="40">
            </button>
          </div>
      </div>
    </div>
  </div>
  <div style="position: absolute; right: 10px; bottom: 10px; ">
    <button (click)="scrollTo('intro')" mat-fab style="background-color: rgb(183, 104, 235, 0.2)">
              <mat-icon fontIcon="keyboard_double_arrow_up"></mat-icon>
            </button>
  </div>
</div>
