<div class="container">
  <div class="dialog-top">
    <h2 mat-dialog-title>{{dialogRef.componentInstance.data.portifolio.title}}</h2>
      <button class="button-close" mat-mini-fab (click)="dialogRef.close()">
        <mat-icon style="color: rgb(183, 104, 235);">close</mat-icon>
      </button>
  </div>
  <!--<img class="image" src="../../../assets/imagem1.png">-->
<mat-dialog-content class="content">
  <h2>{{dialogRef.componentInstance.data.portifolio.description}}</h2>
    <div class="topics">
      <h4>Visão geral do projeto</h4>
      <p>{{dialogRef.componentInstance.data.portifolio.general}}</p>
    </div>
    <div style="margin-bottom: 15px;">
      <h4>Tecnologias Utilizadas</h4>
      <app-card-skills *ngFor="let item of dialogRef.componentInstance.data.portifolio.tecnologies" [text]="item"></app-card-skills>
    </div>
    <div>
      <h4>Problema a ser resolvido</h4>
      <p>{{dialogRef.componentInstance.data.portifolio.problemDescription}}</p>
    </div>
    <div>
      <h4>Solução</h4>
      <p>{{dialogRef.componentInstance.data.portifolio.solutionDescription}}</p>
    </div>
    <div>
      <h4>Responsabilidades</h4>
      <p>{{dialogRef.componentInstance.data.portifolio.responsibility}}</p>
    </div>
</mat-dialog-content>
</div>
