.container{
    height: 95vh;
    background-color: #27272A;
    padding: 10px;
}

.image{
    width: 100%;
    padding: 3px;
    height: 420px;
}

.dialog-top{
    display: flex;
    justify-content: space-between;
}
