<div class="container">
	<div class="stars" ></div>
  <div class="stars2" ></div>
    <div style="height: 98%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div style="display: flex;">
        <h3>Olá, eu sou o</h3>
        <h3 style="color: rgb(183, 104, 235); margin-left: 13px;">Davi</h3>
      </div>
      <br>
      <br>
      <h2>Engenheiro de Software</h2>
      <br>
      <div style="display: flex;">
        <button (click)="this.scrollTo('portifolio')" class="button-projects">Meus Projetos</button>
      <button (click)="this.scrollTo('contact')" class="button-contact" style="margin-left: 10px;"
       >Entrar em contato</button>
      </div>

        <mat-icon (click)="scrollTo('about')" class="arrow-down" fontIcon="keyboard_arrow_down"></mat-icon>
    </div>
</div>

