.container{
  width: 100%;
  padding: 40px 20px;
  position: relative;
  padding-top: 100px;
}

.title{
  display: flex; justify-content: center;
  align-items: center;
}

.body{
  display: flex; flex-wrap: wrap; justify-content: center;
}

.title-session1{
  font-weight:500;
  margin: 0;
  font-size: 2rem;
}

.title-session2{
  margin: 0px 0px 0px 10px;
  color: rgb(183, 104, 235);
  font-weight: 600;
  font-size: 2rem;
}


