<div style="width: 100%; padding: 40px 20px; position: relative;">
  <div class="title">
    <div class="line"></div>
      <h1 class="title-session1">MY</h1>
      <h1 class="title-session2">PORTFOLIO</h1>
    <div class="line"></div>
  </div>
  <br>
  <br>
  <div class="body">
      <app-card-portifolio *ngFor="let port of getPortifolios()" [portifolio]="port"></app-card-portifolio>
  </div>
  <div style="position: absolute; right: 10px; bottom: 10px; ">
    <button (click)="scrollTo('contact')" mat-fab style="background-color: rgb(183, 104, 235, 0.2)">
              <mat-icon fontIcon="arrow_downward"></mat-icon>
            </button>
  </div>
</div>
