<div class="container">
  <div class="body">
    <h1 style="color: white; text-align: center; font-size: 30px;">About Me</h1>
    <br>
    <br>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
      <div style="display: flex; flex-direction: column;">
        <app-progress text="HTML" percent="50%"></app-progress>
        <br>
        <app-progress text="CSS" percent="30%"></app-progress>
        <br>
        <app-progress text="ANGULAR" percent="10%"></app-progress>
        <br>
        <app-progress text="FLUTER" percent="100%"></app-progress>
      </div>
      <div style="width: 45%; display: flex; flex-direction: column;">
        <p style="color: white; text-align: left; font-size: 18px;">
          In a quiet village nestled between rolling hills, there lived a curious inventor named Eliza. She spent her days tinkering with gadgets and gizmos, hoping to create something extraordinary. One day, while experimenting with a new contraption, she discovered a peculiar phenomenon: a tiny portal that seemed to open into another world. Excited and a bit apprehensive, Eliza decided to explore this mysterious gateway. As she stepped through, she found herself in a land filled with vibrant colors and fantastical creatures. It was a place where imagination came to life, and Eliza knew that her life would never be the same again.
        </p>
      </div>
    </div>
  </div>
</div>
