<div class="container">
  <div class="body">
    <h2 class="title">Sobre mim</h2>
    <p class="about">Engenheiro de Software com bastante experiência em .NET com C#,
      com conhecimentos em serviços, APIs REST, e outros projetos da plataforma. Apaixonado pelo desenvolvimento com boas práticas, seguindo sempre os princípios SOLID. Também possuo experiência com Flutter para dispositivos móveis e web, Angular, e Metodologias Ágeis. Formado em Sistemas de Informação e cursando Pós-Graduação em Engenharia de Software pela Descomplica. </p>
  </div>
</div>
