// Reset básico para remover margens e paddings
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Remover a margem e padding do body, e garantir que o conteúdo ocupe a tela inteira
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #13151d;
  color: #E8E8E8;
  scroll-behavior: smooth;
}

p, h1, h2, h3{
  font-family: 'DM Sans', sans-serif;
}



.line{
  width: 25px;
  height: 3px;
  background-color: rgb(183, 104, 235);
  margin: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(183, 104, 235) transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  padding: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #737373;
  padding: 0px;
  border-radius: 15px;
}

